* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #202020;
  color: white;
  overflow-x: hidden;
}

.grid-header {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 12px;
}
.grid-header .line {
  border: 2px solid rgb(83, 80, 80);
  width: 85%;
}

.show-list {
  display: flex;
  align-items: center;
  padding: 25px 0 30px 0;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.show-list::-webkit-scrollbar {
  height: 10px;
}
.show-list::-webkit-scrollbar-track {
  background: rgba(83, 80, 80, 0.514);
}
.show-list::-webkit-scrollbar-thumb {
  background: rgb(41, 39, 39);
  border-radius: 4px;
}

/* this is the anchor tag */
.show {
  display: inline-block;
  padding-left: 25px;
  height: 305px;
  width: 210px;
  position: relative;
}

.card-info {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 285px;
  width: 195px;
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 0px;
  color: #fff;
  border-radius: 4px;
  backdrop-filter: blur(2px);
  transition: all 0.3s ease-in-out;
}

.show-img {
  width: 190px;
  height: 290px;
  border-radius: 3%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.show:hover .card-info {
  display: flex;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.219);
  padding: 10px;
}

.show:hover .show-img {
  height: 300px;
  width: 210px;
  transform: 1;
  filter: blur(3px);
}

.card-info button {
  cursor: pointer;
  background: none;
  padding: 10px 20px;
  border-radius: 15px;
  color: white;
  border: 3px solid white;
  font-size: larger;
  font-weight: bold;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}

.card-info button:hover {
  margin-top: 0;
}
